<!--  This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint. -->
<div class="container is-fullhd ">
  <div class="notification has-background-white">
    <p>
      <strong>Title:</strong>
      <%= @article.title %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= @article.text %>
    </p>
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <h4 class="is-size-4"><strong>Comments</strong></h4>
          </div>
        </div>
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <%= render @article.comments %>
          </div>
        </div>
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
        <h2>Add a comment:</h2>
          <%= render 'comments/form' %>
          <%= link_to 'Edit', edit_article_path(@article) %> |
          <%= link_to 'Back', articles_path %> 
        </div>
        </div>  
    </div>
</div>
<!--  End of Show article content only -->

<!-- This container ends here <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint. -->
  